<div>
  <div>
    <h1 class="font-bold text-3xl">プライバシーポリシー</h1>
    <h2 class="font-semibold text-xl">お客様から取得する情報</h2>
    <p>当サービスは、お客様から以下の情報を取得します。</p>
    <li>氏名（ニックネームやペンネームも含む）</li>
    <li>年齢または生年月日</li>
    <li>メールアドレス</li>
    <li>クレジットカード、銀行口座、電子マネー等のお客様の決済手段に関する情報</li>
    <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
    <li>Cookie（クッキー）を用いて生成された識別情報</li>
    <li>当サービスウェブサイトの滞在時間、入力履歴、購買履歴等のお客様の行動履歴</li>
    <li>当サービスアプリの起動時間、入力履歴、購買履歴等の利用履歴</li>
  </div>
  <div>
    <h1 class="font-bold text-3xl">プライバシーポリシー</h1>
    <h2 class="font-semibold text-xl">お客様から取得する情報</h2>
  </div>
</div>
