<div>
  <div>
    <span>ユーザー役割選択画面</span>
  </div>
  <div>
    <h2>あなたに当てはまるものを選んでください。</h2>
  </div>
  <div data-controller="users">
    <div>
      <button data-action="click->users#createUser" type="button">当事者の方</button>
    </div>
    <div>
      <button data-action="click->users#createUser" type="button">周囲の家族や支援者の方</button>
    </div>
  </div>
</div>
