<h2>招待コード</h2>
<p>以下の「招待コード」を入力して、登録/連携を完了してください。</p>

<p>招待コード：<%= @inviter.invitation_token %></p>
<p>有効期限：<%= @inviter.invitation_created_at %></p>

<h2>▼ 招待コード入力ページ</h2>
<a href="https://namimiru.com/care_relations/new">https://namimiru.com/care_relations/new</a>

<p>（リンクが開けない場合は、上記URLをブラウザに貼り付けてください）</p>

<p>※このコードは第三者に共有しないでください。</p>
<p>※ご本人に心当たりがない場合は、本メールは破棄してください（一定期間後に自動的に無効になります）。</p>

<p>――――――――――</p>
<p>ナミミル サポート</p>
<p>namimiruOfficial@gmail.com</p>
<p>このメールは送信専用です。返信には対応していません。</p>
