<header class="border-b-1 border-gray-100 flex items-center justify-end fixed top-0 z-100 bg-white shadow-xs h-12 w-full">
  <div class="mr-4">
    <!-- マイページアイコン -->
    <%= link_to mypage_path do %>
      <div class="flex flex-col items-center justify-center">
        <%= image_tag 'my_page_icon.svg', alt: 'マイページアイコン', size: '25x25' %>
      </div>
    <% end %>
  </div>
</header>
