<header class="flex items-center justify-end fixed top-0 z-100 bg-[#FDFBF9] h-12 w-full">
  <div class="mr-4">
    <!-- マイページアイコン -->
    <%= link_to mypage_path do %>
      <div class="flex flex-col items-center justify-center">
        <%= image_tag 'my_page_icon.png', alt: 'マイページアイコン', size: '25x25' %>
      </div>
    <% end %>
  </div>
</header>
