<div class="my-28 mx-12">
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <div class="text-string-base font-semibold text-xl">
    他のユーザーとの連携
  </div>
  <div class="my-8">
    <%= form_with url: care_relations_path, method: :post, scope: :user do |f| %>
      <div class="text-string-base font-semibold text-sm">
        招待コードを入力してください。
      </div>
      <%= f.text_field :invitation_token, class: "border border-border-base rounded-md w-full my-2 p-2", placeholder: "招待コード" %>
      <%= f.submit "招待コードの入力", class: "bg-logo-color text-white w-full font-semibold rounded-md py-2 px-4 my-8" %>
    <% end %>
  </div>
</div>
