<div>
  グラフ確認画面
  <%= render 'shared/flash_message' %>
  <div>
    <canvas 
      height="400" 
      id="myChart"
      data-controller="charts--display"
      data-chart-labels="<%= @labels.to_json %>"
      data-chart-data="<%= @data.to_json %>">
    </canvas>
  </div>
</div>
