<%= turbo_stream.replace "latest-record-link-card" do %>
  <div id="latest-record-link-card">
  <% if @latest_record.present? %>
    <%= render partial: "daily_records/shared/link_card", locals: { user: @user, daily_record: @latest_record } %>
  <% end %>
  </div>
<% end %>

<%= turbo_stream.replace "daily-records-index-button" do %>
  <div class="mt-4" id="daily-records-index-button">
  <%= render partial: "charts/shared/daily_records_index_button", locals: { user: @user } %>
  </div>
<% end %>
