<div>
  <div class="mx-12">
    <%= link_to "#", class:  "flex justify-center border border-[#B6B6B6] block w-full mt-4 py-2 text-center text-[#484848] font-semibold bg-white rounded-md" do %>
      <%= image_tag 'google_logo.png', alt: 'Google Logo', size: '24x24' %>
      <div class="ml-2">
        Googleアカウントで新規登録
      </div>
    <% end %>
    <%= link_to "メールアドレスで新規登録", "#", class: "block w-full mt-4 py-2 text-center text-white font-semibold bg-[#67BDB7] rounded-md" %>
    <%= link_to "ログインせずに試す", "#", class: "border border-[#B6B6B6] block w-full mt-4 py-2 text-center text-[#484848] font-semibold bg-white rounded-md" %>
  </div>
</div>
