<div class="my-28 mx-4">
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <div class="flex items-center">
    <div class="font-semibold text-string-base text-xl mr-4 mb-2">
      記録の編集
    </div> 
  </div>
  <!-- 記録編集フォーム -->
  <%= render partial: "daily_records/shared/form", locals: { url: daily_record_path(@daily_record.id), method: :put } %>
</div>
