<div class="my-28 mx-12">
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <div class="flex">
    <% if @user.name.blank? %>
      ユーザーネーム未設定
    <% else %>
      <div class="font-semibold">
        <%= @user.name %>
      </div>
    <% end %>
    <span class="font-semibold text-string-base text-md">さんの記録履歴</span> 
  </div>
  <% @daily_records.each do |daily_record| %>
    <!-- 記録のカードUI -->
    <div class="mt-4">
      <%= render partial: "daily_records/shared/card", locals: { user: @user, daily_record: daily_record } %>
    </div>
  <% end %>
  <div class="mt-8 w-full flex justify-center">
    <div>
      <%= paginate @daily_records, window: 2 %>
    </div>
  </div>
</div>
