<div class="my-28 mx-4">
  <%= render 'shared/flash_message' %>
  <div class="font-semibold text-string-base text-md my-4">
    今日はどんな気分？
  </div>
  <%= render partial: "daily_records/shared/form", locals: { daily_record: @daily_record } %>
</div>
