<div class="my-28 mx-8">
  <%= render 'shared/flash_message' %>
  <div class="font-semibold text-string-base text-md my-4">
    今日はどんな気分？
  </div>
  <%= render partial: "daily_records/shared/form", locals: { url: daily_records_path, method: :post } %>
</div>
