@import "tailwindcss";

@theme {
  --color-string-base: #484848;
  --color-border-base: #B6B6B6;
  --color-logo-color: #67BDB7;
}

@layer utilities {
  input[type="range"]::-webkit-slider-thumb {
    @apply bg-green-500 rounded-full;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-gray-300 rounded-full;
  }
}
