<div>
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
  <% end %>
  <div>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete %> 
  </div>
</div>
