<%= turbo_frame_tag "action_items_list", data: { "action-items--lists-target": "listsFrame" } do %>
  <div class="relative flex justify-between">
    <!-- 出来るかもリスト -->
    <div class="w-1/2 flex flex-col items-center pr-2">
      <p class="text-string-base font-semibold mt-4">できるかも</p>
      <div class="mt-2 space-y-2 w-full">
        <% @diff_can_items.each do |diff_can_item| %>
          <div class="p-2 mx-2 border border-green-300 rounded-lg text-center">
            <%= diff_can_item.name%>
          </div>
        <% end %>
        <% @not_diff_can_items.each do |not_diff_can_item| %>
          <div class="p-2 mx-2 border border-gray-300 rounded-lg text-center">
            <%= not_diff_can_item.name%>
          </div>
        <% end %>
      </div>
    </div>

    <!-- 縦線（リストの中央のみ）-->
    <div class="absolute left-1/2 top-0 bottom-0 w-px bg-gray-300"></div>

    <!-- 出来ないかもリスト -->
    <div class="w-1/2 flex flex-col items-center pl-2">
      <p class="text-string-base font-semibold mt-4">できないかも</p>
      <div class="mt-2 space-y-2 w-full">
        <% @cannot_list.each do |cannot_item| %>
          <div class="p-2 mx-2 border border-gray-300 rounded-lg text-center">
            <%= cannot_item.name%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
