<div class="mx-4 mb-24 mt-4" data-controller="action-items--lists">
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <!-- 気分 -->
  <div class="mt-8">
    <p class="text-string-base text-md font-semibold mt-2 flex justify-center">気分</p>
    <p class="text-string-base text-2xl font-semibold mt-2 flex justify-center">0</p>
    <div class="flex justify-center my-4">
      <input type="range" min="-5" max="5" value="<%= @mood_score %>" data-action="action-items--lists#update" class="w-full mx-4 mb-4">  
    </div>
  </div>
  <hr class="text-gray-300" />

  <!-- 行動項目追加ボタン -->
  <%= link_to new_action_item_path do %>
    <button class="rounded-full w-full px-5 py-2 my-4 bg-gray-900 text-white font-semibold shadow-lg">
      ＋ 追加
    </button>
  <% end %>
  <hr class="text-gray-300" />

  <!-- リスト -->
  <%= render "action_items/lists_frame" %>
</div>
