<div class="my-28 mx-12" data-controller="daily-records--mood-score range-slider--current-mood">
  <p class="text-string-base font-semibold text-xl">項目の作成</p>
  <div class="my-8">
    <!-- 行動項目作成フォーム -->
    <%= render partial: "action_items/shared/form", locals: { model: @action_item } %>
  </div>
</div>
