<p>こんにちは、<%= @resource.email %>!</p>

<p>以下のリンクからパスワードの再設定を行ってください。</p>

<p><%= link_to 'ここからパスワード再設定を行う', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリンクを発行していない場合、無視をしてください。</p>
